@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 42px;
}

.btn {
  background-color: #24251e;
  display: inline-block;
  padding: 16px 64px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ede6da;
  border: 1px solid #24251e;
}

.btn:hover {
  background-color: #ede6da;
  border: 1px solid #24251e;
  color: #24251e;
  letter-spacing: 3.3px;
  transition: 0.4s;
}

.text-secondary {
  font-family: "Lora", sans-serif;
  font-size: 5.5rem;
}

#anim {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  animation: scroll 10s linear infinite;
  display: flex;
}

#anim:hover {
  animation-play-state: paused;
}

.brand1 {
  margin-right: 124px;
  min-width: 150px;
  min-height: 100px;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-169%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  background-color: #ede6da;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#navbar {
  padding: 42px 0;
  border-bottom: 1px solid #959595;
  overflow: hidden;
}
#navbar img {
  display: block;
}
#navbar .flex {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
#navbar .flex .nav-logo img {
  height: 100%;
}
#navbar .flex .nav-menu {
  display: flex;
}
#navbar .flex .nav-menu li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 24px;
}
#navbar .flex .nav-socials {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hero {
  height: 1000px;
  position: relative;
}
#hero .flex {
  display: flex;
  height: 100%;
  align-items: center;
}
#hero .hero-text {
  width: 70%;
  z-index: 10;
}
#hero .hero-text h1 {
  font-size: 4.7rem;
  margin-bottom: 24px;
  font-weight: 500;
}
#hero .hero-text p {
  width: 50%;
  opacity: 70%;
  line-height: 1.7rem;
  margin-bottom: 32px;
}
#hero .img-float {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  height: 100%;
}

#brands {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 32px;
  background-color: #24251e;
}
#brands h2 {
  color: #ede6da;
  text-align: center;
  margin: 32px 0 24px;
  font-weight: 300;
}
#brands #anim img {
  height: 200px;
}