@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $primary-color;
}

a {
  text-decoration: none;
}

#navbar {
  padding: 42px 0;
  border-bottom: 1px solid #959595;

  img {
    display: block;
  }

  .flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;

    .nav-logo {
      img {
        height: 100%;
      }
    }

    .nav-menu {
      display: flex;

      li {
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0 24px;
      }
    }

    .nav-socials {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}

#hero {
  height: 1000px;
  position: relative;

  .flex {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .hero-text {
    width: 70%;
    z-index: 10;

    h1 {
      font-size: 4.7rem;
      margin-bottom: 24px;
      font-weight: 500;
    }

    p {
      width: 50%;
      opacity: 70%;
      line-height: 1.7rem;
      margin-bottom: 32px;
    }
  }

  .img-float {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    height: 100%;
  }
}
